﻿@using BOSSApplication.Models
@model BOSSApplication.Models.UsersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (@Html.BeginForm("Index", "User", FormMethod.Post))
{
    <h4>Sock's price this hour is: <input type="text" id="sockPrice" name="sockPrice" /></h4>

<div style="width: 96%">
    <div style="float:left">
        <label>Email</label><br />
        @Model.Email
    </div>

    <div style="margin-left:2%; float:left">
        <label>UserName</label><br />
        @Model.UserName
    </div>

    <div style="margin-left:2%; float:left">
        <label>Money balance</label><br />
        @Model.Money
    </div>

    <div style="margin-left:2%; float:left">
        <label>Socks balance</label><br />
        @Model.Socks
    </div><br /><br /><br /><br />
</div><br />

<div style="width: 96%">
    <label>Deposit money </label>&nbsp;&nbsp;
    <input type="number" name="txtDeposit" /><br />
    <label>Buy socks (quantity) </label>&nbsp;&nbsp;
    <input type="number" name="txtBuy" /><br />
    <label>Sell socks (quantity) </label>&nbsp;&nbsp;
    <input type="number" name="txtSell" /><br />
</div>
<input type="submit" name="submit" value="Submit" />
}

@section Scripts{
   
    <script type="text/javascript">
    var timeoutId;
    $(document).ready(function () {
        var number = (Math.random() * (2.001 - 0.001) + 0.001).toFixed(2);
        var numberString = number.toString();
        $('#sockPrice').val(numberString);
        timeoutId = window.setInterval(function () {
            var oldNumber = $('#sockPrice').val();
            var number = (Math.random() * (2 - 0.01) + 0.01);
            number *= parseFloat(oldNumber);
            var numberString = number.toFixed(4);
            $('#sockPrice').val(numberString);
        }, 3600000);
    });
    </script>
}