﻿@model System.Collections.Generic.List<BOSSApplication.Models.UsersViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table cellpadding="2" cellspacing="2" border="1">
    <thead>
        <tr>
            <td>Email</td>
            <td>UserName</td>
        </tr>
        @for (var i = 0; i < Model.Count(); i++ )
        {
            <tr>
                <td>@Model[i].Email</td>
                <td>@Model[i].UserName</td>
                <td>@Html.ActionLink("Delete user", "Delete", "Administrator", new { id = @Model[i].Id }, null)</td>
            </tr>
        }
    </thead>
</table>
<br />
<br />
@Html.ActionLink("Create new user", "Register", "Account")

